# Pre-processing and Training Data Development

First and foremost I load all the libraries needed as well as the revised csv data. For the rest of this I will only be focusing on the second (Bipolar disorder df) and fourth (Eating disorder df) dataframe, since they are the only 2 important dataframes for my problem statement.

In [1]:
#Loading all libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [2]:
#Importing data
df1 = pd.read_csv('cleaned_data(1).csv') 
df2 = pd.read_csv('cleaned_data(2).csv')
df3 = pd.read_csv('cleaned_data(3).csv')
df4 = pd.read_csv('cleaned_data(4).csv')
df5 = pd.read_csv('cleaned_data(5).csv')

After loading the csv files I check the two I will need for the modeling step of the capstone.

In [3]:
df2.head()

,index,Country,Code,Year,Percentage of Prevalence (Bipolar Disorders(M)),Percentage of Prevalence (Bipolar Disorders(F)),Population (historical estimates)
0,1,Afghanistan,AFG,1990,0.675452,0.762342,12412311.0
1,2,Afghanistan,AFG,1991,0.674992,0.762142,13299016.0
2,3,Afghanistan,AFG,1992,0.674579,0.761958,14485543.0
3,4,Afghanistan,AFG,1993,0.674206,0.761774,15816601.0
4,5,Afghanistan,AFG,1994,0.673876,0.761599,17075728.0

In [4]:
df4.head()

,index,Country,Code,Year,Percentage of Prevalence (Eating disorders(M)),Percentage of Prevalence (Eating disorders(F)),Population (historical estimates)
0,1,Afghanistan,AFG,1990,0.091421,0.164942,12412311.0
1,2,Afghanistan,AFG,1991,0.088841,0.159850,13299016.0
2,3,Afghanistan,AFG,1992,0.086286,0.155230,14485543.0
3,4,Afghanistan,AFG,1993,0.084179,0.150636,15816601.0
4,5,Afghanistan,AFG,1994,0.081881,0.146573,17075728.0

I see that the only categorical data is 'Country' so I make a new dataframe for it. I decide to leave out the 'Code' column since it is basically the same and only focus on the 'Country column.

In [5]:
dummy = pd.get_dummies(df2['Country'])
dummy.head()

,Afghanistan,Africa,African Region (WHO),Akrotiri and Dhekelia,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,...,World Bank Upper Middle Income,Wuerttemburg,Yemen,Yemen Arab Republic,Yemen People's Republic,Yugoslavia,Zambia,Zanzibar,Zimbabwe,Åland Islands
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
dummy_2 = pd.get_dummies(df4['Country'])
dummy.head()

,Afghanistan,Africa,African Region (WHO),Akrotiri and Dhekelia,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,...,World Bank Upper Middle Income,Wuerttemburg,Yemen,Yemen Arab Republic,Yemen People's Republic,Yugoslavia,Zambia,Zanzibar,Zimbabwe,Åland Islands
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Once both are made I use "concat" to merge the talbe and the dummy together.

In [7]:
df2 = pd.concat([df2, dummy], axis=1)
df2.head()

,index,Country,Code,Year,Percentage of Prevalence (Bipolar Disorders(M)),Percentage of Prevalence (Bipolar Disorders(F)),Population (historical estimates),Afghanistan,Africa,African Region (WHO),...,World Bank Upper Middle Income,Wuerttemburg,Yemen,Yemen Arab Republic,Yemen People's Republic,Yugoslavia,Zambia,Zanzibar,Zimbabwe,Åland Islands
0,1,Afghanistan,AFG,1990,0.675452,0.762342,12412311.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Afghanistan,AFG,1991,0.674992,0.762142,13299016.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Afghanistan,AFG,1992,0.674579,0.761958,14485543.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Afghanistan,AFG,1993,0.674206,0.761774,15816601.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Afghanistan,AFG,1994,0.673876,0.761599,17075728.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df4 = pd.concat([df4, dummy_2], axis=1)
df4.head()

,index,Country,Code,Year,Percentage of Prevalence (Eating disorders(M)),Percentage of Prevalence (Eating disorders(F)),Population (historical estimates),Afghanistan,Africa,African Region (WHO),...,World Bank Upper Middle Income,Wuerttemburg,Yemen,Yemen Arab Republic,Yemen People's Republic,Yugoslavia,Zambia,Zanzibar,Zimbabwe,Åland Islands
0,1,Afghanistan,AFG,1990,0.091421,0.164942,12412311.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Afghanistan,AFG,1991,0.088841,0.159850,13299016.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Afghanistan,AFG,1992,0.086286,0.155230,14485543.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Afghanistan,AFG,1993,0.084179,0.150636,15816601.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Afghanistan,AFG,1994,0.081881,0.146573,17075728.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

Now I will use StandardScaler to standardize the numercal features, whixh are the percentage of prevalence M/F for both eating and bipolar disorder and the population.

In [9]:
categorical_features = ['Country']
numeric_features = ['Percentage of Prevalence (Eating disorders(M))', 'Percentage of Prevalence (Eating disorders(F))', 'Population (historical estimates)']

In [10]:
# Define preprocessing steps
numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())
])

categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

In [11]:
df4.columns

Index(['index', 'Country', 'Code', 'Year',
       'Percentage of Prevalence (Eating disorders(M))',
       'Percentage of Prevalence (Eating disorders(F))',
       'Population (historical estimates)', 'Afghanistan', 'Africa',
       'African Region (WHO)',
       ...
       'World Bank Upper Middle Income', 'Wuerttemburg', 'Yemen',
       'Yemen Arab Republic', 'Yemen People's Republic', 'Yugoslavia',
       'Zambia', 'Zanzibar', 'Zimbabwe', 'Åland Islands'],
      dtype='object', length=322)

In [15]:
df2.columns

Index(['index', 'Country', 'Code', 'Year',
       'Percentage of Prevalence (Bipolar Disorders(M))',
       'Percentage of Prevalence (Bipolar Disorders(F))',
       'Population (historical estimates)', 'Afghanistan', 'Africa',
       'African Region (WHO)',
       ...
       'World Bank Upper Middle Income', 'Wuerttemburg', 'Yemen',
       'Yemen Arab Republic', 'Yemen People's Republic', 'Yugoslavia',
       'Zambia', 'Zanzibar', 'Zimbabwe', 'Åland Islands'],
      dtype='object', length=322)

I now use X and y to define my features and then test and process the data found.

In [20]:
# Define features (X) and target (y)
X = df2.drop(['Percentage of Prevalence (Bipolar Disorders(M))',
              'Percentage of Prevalence (Bipolar Disorders(F))'], axis=1)
y = df2[['Percentage of Prevalence (Bipolar Disorders(M))',
          'Percentage of Prevalence (Bipolar Disorders(F))']]

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Preprocessing for numerical features
numerical_features = X.select_dtypes(include=['int64', 'float64']).columns
numerical_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())
])

# Preprocessing for categorical features
categorical_features = X.select_dtypes(include=['object']).columns
categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Combine preprocessing steps
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_features),
        ('cat', categorical_transformer, categorical_features)
    ])

# Create a preprocessing and modeling pipeline
pipeline = Pipeline(steps=[('preprocessor', preprocessor)])

# Preprocess training data
X_train_processed = pipeline.fit_transform(X_train)

# Preprocess testing data
X_test_processed = pipeline.transform(X_test)

Now I print my results.

In [23]:
print("X_train:", X_train)
print("X_test:", X_test)
print("y_train:", y_train)
print("y_test:", y_test)

X_train:        index         Country Code  Year  Population (historical estimates)  \
9427    9428  Cayman Islands  CYM  2012                            58963.0
40596  40597         Reunion  REU  1920                           173260.0
39496  39497     Philippines  PHL  1842                          3193695.0
54565  54566       Venezuela  VEN  1830                           893324.0
39266  39267            Peru  PER  1871                          2653867.0
...      ...             ...  ...   ...                                ...
44732  44733       Singapore  SGP  1933                           631717.0
54343  54344         Vatican  VAT  1897                              910.0
38158  38159       Palestine  PSE  1800                           165944.0
860      861         Algeria  DZA  1200                          1899989.0
15795  15796         Estonia  EST  1847                           462351.0

       Afghanistan  Africa  African Region (WHO)  Akrotiri and Dhekelia  \
9427             0       0                     0                      0
40596            0       0                     0                      0
39496            0       0                     0                      0
54565            0       0                     0                      0
39266            0       0                     0                      0
...            ...     ...                   ...                    ...
44732            0       0                     0                      0
54343            0       0                     0                      0
38158            0       0                     0                      0
860              0       0                     0                      0
15795            0       0                     0                      0

       Albania  ...  World Bank Upper Middle Income  Wuerttemburg  Yemen  \
9427         0  ...                               0             0      0
40596        0  ...                               0             0      0
39496        0  ...                               0             0      0
54565        0  ...                               0             0      0
39266        0  ...                               0             0      0
...        ...  ...                             ...           ...    ...
44732        0  ...                               0             0      0
54343        0  ...                               0             0      0
38158        0  ...                               0             0      0
860          0  ...                               0             0      0
15795        0  ...                               0             0      0

       Yemen Arab Republic  Yemen People's Republic  Yugoslavia  Zambia  \
9427                     0                        0           0       0
40596                    0                        0           0       0
39496                    0                        0           0       0
54565                    0                        0           0       0
39266                    0                        0           0       0
...                    ...                      ...         ...     ...
44732                    0                        0           0       0
54343                    0                        0           0       0
38158                    0                        0           0       0
860                      0                        0           0       0
15795                    0                        0           0       0

       Zanzibar  Zimbabwe  Åland Islands
9427          0         0              0
40596         0         0              0
39496         0         0              0
54565         0         0              0
39266         0         0              0
...         ...       ...            ...
44732         0         0              0
54343         0         0              0
38158         0         0              0
860           0         0              0
15795         0         0              0

[45115 rows x 320 columns]
X_test:        index      Country Code  Year  Population (historical estimates)  \
23059  23060         Iran  IRN  2019                         82913893.0
9869    9870         Chad  TCD  1906                          1748904.0
41845  41846  Saint Lucia  LCA  1997                           150920.0
15727  15728      Estonia  EST   600                            39454.0
31077  31078    Mauritius  MUS  1868                           329142.0
...      ...          ...  ...   ...                                ...
28587  28588   Luxembourg  LUX  1720                            71951.0
10527  10528        China  CHN  1974                        908464206.0
42635  42636        Samoa  WSM  1858                            44314.0
49880  49881     Thailand  THA  1985                         52026901.0
19341  19342    Gibraltar  GIB  2003                            32555.0

       Afghanistan  Africa  African Region (WHO)  Akrotiri and Dhekelia  \
23059            0       0                     0                      0
9869             0       0                     0                      0
41845            0       0                     0                      0
15727            0       0                     0                      0
31077            0       0                     0                      0
...            ...     ...                   ...                    ...
28587            0       0                     0                      0
10527            0       0                     0                      0
42635            0       0                     0                      0
49880            0       0                     0                      0
19341            0       0                     0                      0

       Albania  ...  World Bank Upper Middle Income  Wuerttemburg  Yemen  \
23059        0  ...                               0             0      0
9869         0  ...                               0             0      0
41845        0  ...                               0             0      0
15727        0  ...                               0             0      0
31077        0  ...                               0             0      0
...        ...  ...                             ...           ...    ...
28587        0  ...                               0             0      0
10527        0  ...                               0             0      0
42635        0  ...                               0             0      0
49880        0  ...                               0             0      0
19341        0  ...                               0             0      0

       Yemen Arab Republic  Yemen People's Republic  Yugoslavia  Zambia  \
23059                    0                        0           0       0
9869                     0                        0           0       0
41845                    0                        0           0       0
15727                    0                        0           0       0
31077                    0                        0           0       0
...                    ...                      ...         ...     ...
28587                    0                        0           0       0
10527                    0                        0           0       0
42635                    0                        0           0       0
49880                    0                        0           0       0
19341                    0                        0           0       0

       Zanzibar  Zimbabwe  Åland Islands
23059         0         0              0
9869          0         0              0
41845         0         0              0
15727         0         0              0
31077         0         0              0
...         ...       ...            ...
28587         0         0              0
10527         0         0              0
42635         0         0              0
49880         0         0              0
19341         0         0              0

[11279 rows x 320 columns]
y_train:        Percentage of Prevalence (Bipolar Disorders(M))  \
9427                                               NaN
40596                                              NaN
39496                                              NaN
54565                                              NaN
39266                                              NaN
...                                                ...
44732                                              NaN
54343                                              NaN
38158                                              NaN
860                                                NaN
15795                                              NaN

       Percentage of Prevalence (Bipolar Disorders(F))
9427                                               NaN
40596                                              NaN
39496                                              NaN
54565                                              NaN
39266                                              NaN
...                                                ...
44732                                              NaN
54343                                              NaN
38158                                              NaN
860                                                NaN
15795                                              NaN

[45115 rows x 2 columns]
y_test:        Percentage of Prevalence (Bipolar Disorders(M))  \
23059                                         0.794971
9869                                               NaN
41845                                         0.887240
15727                                              NaN
31077                                              NaN
...                                                ...
28587                                              NaN
10527                                              NaN
42635                                              NaN
49880                                              NaN
19341                                              NaN

       Percentage of Prevalence (Bipolar Disorders(F))
23059                                         0.918850
9869                                               NaN
41845                                         1.036172
15727                                              NaN
31077                                              NaN
...                                                ...
28587                                              NaN
10527                                              NaN
42635                                              NaN
49880                                              NaN
19341                                              NaN

[11279 rows x 2 columns]

In [22]:
print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

Shape of X_train: (45115, 320)
Shape of X_test: (11279, 320)
Shape of y_train: (45115, 2)
Shape of y_test: (11279, 2)

In [21]:
print("Summary statistics of X_train:")
print(X_train.describe())

print("\nSummary statistics of X_test:")
print(X_test.describe())

print("\nSummary statistics of y_train:")
print(y_train.describe())

print("\nSummary statistics of y_test:")
print(y_test.describe())

Summary statistics of X_train:
              index          Year  Population (historical estimates)  \
count  45115.000000  45115.000000                       4.454500e+04
mean   28199.121290   1611.050272                       3.251739e+07
std    16265.182914   1399.909403                       2.517726e+08
min        1.000000 -10000.000000                       1.000000e+00
25%    14135.500000   1832.000000                       1.333040e+05
50%    28183.000000   1901.000000                       1.209646e+06
75%    42304.500000   1966.000000                       5.394679e+06
max    56394.000000   2021.000000                       7.874966e+09

        Afghanistan        Africa  African Region (WHO)  \
count  45115.000000  45115.000000          45115.000000
mean       0.004633      0.004322              0.000598
std        0.067906      0.065603              0.024457
min        0.000000      0.000000              0.000000
25%        0.000000      0.000000              0.000000
50%        0.000000      0.000000              0.000000
75%        0.000000      0.000000              0.000000
max        1.000000      1.000000              1.000000

       Akrotiri and Dhekelia       Albania       Algeria  American Samoa  ...  \
count           45115.000000  45115.000000  45115.000000    45115.000000  ...
mean                0.000022      0.004588      0.004522        0.001995  ...
std                 0.004708      0.067582      0.067093        0.044620  ...
min                 0.000000      0.000000      0.000000        0.000000  ...
25%                 0.000000      0.000000      0.000000        0.000000  ...
50%                 0.000000      0.000000      0.000000        0.000000  ...
75%                 0.000000      0.000000      0.000000        0.000000  ...
max                 1.000000      1.000000      1.000000        1.000000  ...

       World Bank Upper Middle Income  Wuerttemburg         Yemen  \
count                    45115.000000  45115.000000  45115.000000
mean                         0.000510      0.000022      0.004344
std                          0.022573      0.004708      0.065770
min                          0.000000      0.000000      0.000000
25%                          0.000000      0.000000      0.000000
50%                          0.000000      0.000000      0.000000
75%                          0.000000      0.000000      0.000000
max                          1.000000      1.000000      1.000000

       Yemen Arab Republic  Yemen People's Republic    Yugoslavia  \
count              45115.0             45115.000000  45115.000000
mean                   0.0                 0.000022      0.000022
std                    0.0                 0.004708      0.004708
min                    0.0                 0.000000      0.000000
25%                    0.0                 0.000000      0.000000
50%                    0.0                 0.000000      0.000000
75%                    0.0                 0.000000      0.000000
max                    0.0                 1.000000      1.000000

             Zambia      Zanzibar      Zimbabwe  Åland Islands
count  45115.000000  45115.000000  45115.000000   45115.000000
mean       0.004455      0.000022      0.004522       0.000022
std        0.066600      0.004708      0.067093       0.004708
min        0.000000      0.000000      0.000000       0.000000
25%        0.000000      0.000000      0.000000       0.000000
50%        0.000000      0.000000      0.000000       0.000000
75%        0.000000      0.000000      0.000000       0.000000
max        1.000000      1.000000      1.000000       1.000000

[8 rows x 318 columns]

Summary statistics of X_test:
              index          Year  Population (historical estimates)  \
count  11279.000000  11279.000000                       1.111100e+04
mean   28191.014984   1601.431865                       3.224757e+07
std    16338.309041   1440.148776                       2.443322e+08
min        5.000000 -10000.000000                       1.000000e+00
25%    13949.500000   1833.000000                       1.359925e+05
50%    28258.000000   1903.000000                       1.258439e+06
75%    42261.500000   1968.000000                       5.407107e+06
max    56377.000000   2021.000000                       7.794799e+09

        Afghanistan        Africa  African Region (WHO)  \
count  11279.000000  11279.000000          11279.000000
mean       0.004433      0.005674              0.000266
std        0.066436      0.075117              0.016307
min        0.000000      0.000000              0.000000
25%        0.000000      0.000000              0.000000
50%        0.000000      0.000000              0.000000
75%        0.000000      0.000000              0.000000
max        1.000000      1.000000              1.000000

       Akrotiri and Dhekelia       Albania       Algeria  American Samoa  ...  \
count                11279.0  11279.000000  11279.000000    11279.000000  ...
mean                     0.0      0.004610      0.004876        0.002128  ...
std                      0.0      0.067746      0.069663        0.046082  ...
min                      0.0      0.000000      0.000000        0.000000  ...
25%                      0.0      0.000000      0.000000        0.000000  ...
50%                      0.0      0.000000      0.000000        0.000000  ...
75%                      0.0      0.000000      0.000000        0.000000  ...
max                      0.0      1.000000      1.000000        1.000000  ...

       World Bank Upper Middle Income  Wuerttemburg         Yemen  \
count                    11279.000000       11279.0  11279.000000
mean                         0.000621           0.0      0.005586
std                          0.024906           0.0      0.074531
min                          0.000000           0.0      0.000000
25%                          0.000000           0.0      0.000000
50%                          0.000000           0.0      0.000000
75%                          0.000000           0.0      0.000000
max                          1.000000           0.0      1.000000

       Yemen Arab Republic  Yemen People's Republic  Yugoslavia        Zambia  \
count         11279.000000                  11279.0     11279.0  11279.000000
mean              0.000089                      0.0         0.0      0.005142
std               0.009416                      0.0         0.0      0.071528
min               0.000000                      0.0         0.0      0.000000
25%               0.000000                      0.0         0.0      0.000000
50%               0.000000                      0.0         0.0      0.000000
75%               0.000000                      0.0         0.0      0.000000
max               1.000000                      0.0         0.0      1.000000

       Zanzibar      Zimbabwe  Åland Islands
count   11279.0  11279.000000        11279.0
mean        0.0      0.004876            0.0
std         0.0      0.069663            0.0
min         0.0      0.000000            0.0
25%         0.0      0.000000            0.0
50%         0.0      0.000000            0.0
75%         0.0      0.000000            0.0
max         0.0      1.000000            0.0

[8 rows x 318 columns]

Summary statistics of y_train:
       Percentage of Prevalence (Bipolar Disorders(M))  \
count                                      5459.000000
mean                                          0.638682
std                                           0.226678
min                                           0.183844
25%                                           0.527632
50%                                           0.589133
75%                                           0.837882
max                                           1.584881

       Percentage of Prevalence (Bipolar Disorders(F))
count                                      5459.000000
mean                                          0.707413
std                                           0.289448
min                                           0.193197
25%                                           0.542892
50%                                           0.610156
75%                                           0.954574
max                                           1.752825

Summary statistics of y_test:
       Percentage of Prevalence (Bipolar Disorders(M))  \
count                                      1381.000000
mean                                          0.640751
std                                           0.230899
min                                           0.184213
25%                                           0.529217
50%                                           0.587563
75%                                           0.834860
max                                           1.584717

       Percentage of Prevalence (Bipolar Disorders(F))
count                                      1381.000000
mean                                          0.708738
std                                           0.292322
min                                           0.193103
25%                                           0.541213
50%                                           0.611366
75%                                           0.951847
max                                           1.752546

Then I repeat with the Eating disorder table.

In [24]:
# Define features (X) and target (y)
X = df4.drop(['Percentage of Prevalence (Eating disorders(M))',
       'Percentage of Prevalence (Eating disorders(F))'], axis=1)
y = df4[['Percentage of Prevalence (Eating disorders(M))',
       'Percentage of Prevalence (Eating disorders(F))']]

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Preprocessing for numerical features
numerical_features = X.select_dtypes(include=['int64', 'float64']).columns
numerical_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())
])

# Preprocessing for categorical features
categorical_features = X.select_dtypes(include=['object']).columns
categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Combine preprocessing steps
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_features),
        ('cat', categorical_transformer, categorical_features)
    ])

# Create a preprocessing and modeling pipeline
pipeline = Pipeline(steps=[('preprocessor', preprocessor)])

# Preprocess training data
X_train_processed = pipeline.fit_transform(X_train)

# Preprocess testing data
X_test_processed = pipeline.transform(X_test)

In [25]:
print("X_train:", X_train)
print("X_test:", X_test)
print("y_train:", y_train)
print("y_test:", y_test)

X_train:        index         Country Code  Year  Population (historical estimates)  \
9427    9428  Cayman Islands  CYM  2012                            58963.0
40596  40597         Reunion  REU  1920                           173260.0
39496  39497     Philippines  PHL  1842                          3193695.0
54565  54566       Venezuela  VEN  1830                           893324.0
39266  39267            Peru  PER  1871                          2653867.0
...      ...             ...  ...   ...                                ...
44732  44733       Singapore  SGP  1933                           631717.0
54343  54344         Vatican  VAT  1897                              910.0
38158  38159       Palestine  PSE  1800                           165944.0
860      861         Algeria  DZA  1200                          1899989.0
15795  15796         Estonia  EST  1847                           462351.0

       Afghanistan  Africa  African Region (WHO)  Akrotiri and Dhekelia  \
9427             0       0                     0                      0
40596            0       0                     0                      0
39496            0       0                     0                      0
54565            0       0                     0                      0
39266            0       0                     0                      0
...            ...     ...                   ...                    ...
44732            0       0                     0                      0
54343            0       0                     0                      0
38158            0       0                     0                      0
860              0       0                     0                      0
15795            0       0                     0                      0

       Albania  ...  World Bank Upper Middle Income  Wuerttemburg  Yemen  \
9427         0  ...                               0             0      0
40596        0  ...                               0             0      0
39496        0  ...                               0             0      0
54565        0  ...                               0             0      0
39266        0  ...                               0             0      0
...        ...  ...                             ...           ...    ...
44732        0  ...                               0             0      0
54343        0  ...                               0             0      0
38158        0  ...                               0             0      0
860          0  ...                               0             0      0
15795        0  ...                               0             0      0

       Yemen Arab Republic  Yemen People's Republic  Yugoslavia  Zambia  \
9427                     0                        0           0       0
40596                    0                        0           0       0
39496                    0                        0           0       0
54565                    0                        0           0       0
39266                    0                        0           0       0
...                    ...                      ...         ...     ...
44732                    0                        0           0       0
54343                    0                        0           0       0
38158                    0                        0           0       0
860                      0                        0           0       0
15795                    0                        0           0       0

       Zanzibar  Zimbabwe  Åland Islands
9427          0         0              0
40596         0         0              0
39496         0         0              0
54565         0         0              0
39266         0         0              0
...         ...       ...            ...
44732         0         0              0
54343         0         0              0
38158         0         0              0
860           0         0              0
15795         0         0              0

[45115 rows x 320 columns]
X_test:        index      Country Code  Year  Population (historical estimates)  \
23059  23060         Iran  IRN  2019                         82913893.0
9869    9870         Chad  TCD  1906                          1748904.0
41845  41846  Saint Lucia  LCA  1997                           150920.0
15727  15728      Estonia  EST   600                            39454.0
31077  31078    Mauritius  MUS  1868                           329142.0
...      ...          ...  ...   ...                                ...
28587  28588   Luxembourg  LUX  1720                            71951.0
10527  10528        China  CHN  1974                        908464206.0
42635  42636        Samoa  WSM  1858                            44314.0
49880  49881     Thailand  THA  1985                         52026901.0
19341  19342    Gibraltar  GIB  2003                            32555.0

       Afghanistan  Africa  African Region (WHO)  Akrotiri and Dhekelia  \
23059            0       0                     0                      0
9869             0       0                     0                      0
41845            0       0                     0                      0
15727            0       0                     0                      0
31077            0       0                     0                      0
...            ...     ...                   ...                    ...
28587            0       0                     0                      0
10527            0       0                     0                      0
42635            0       0                     0                      0
49880            0       0                     0                      0
19341            0       0                     0                      0

       Albania  ...  World Bank Upper Middle Income  Wuerttemburg  Yemen  \
23059        0  ...                               0             0      0
9869         0  ...                               0             0      0
41845        0  ...                               0             0      0
15727        0  ...                               0             0      0
31077        0  ...                               0             0      0
...        ...  ...                             ...           ...    ...
28587        0  ...                               0             0      0
10527        0  ...                               0             0      0
42635        0  ...                               0             0      0
49880        0  ...                               0             0      0
19341        0  ...                               0             0      0

       Yemen Arab Republic  Yemen People's Republic  Yugoslavia  Zambia  \
23059                    0                        0           0       0
9869                     0                        0           0       0
41845                    0                        0           0       0
15727                    0                        0           0       0
31077                    0                        0           0       0
...                    ...                      ...         ...     ...
28587                    0                        0           0       0
10527                    0                        0           0       0
42635                    0                        0           0       0
49880                    0                        0           0       0
19341                    0                        0           0       0

       Zanzibar  Zimbabwe  Åland Islands
23059         0         0              0
9869          0         0              0
41845         0         0              0
15727         0         0              0
31077         0         0              0
...         ...       ...            ...
28587         0         0              0
10527         0         0              0
42635         0         0              0
49880         0         0              0
19341         0         0              0

[11279 rows x 320 columns]
y_train:        Percentage of Prevalence (Eating disorders(M))  \
9427                                              NaN
40596                                             NaN
39496                                             NaN
54565                                             NaN
39266                                             NaN
...                                               ...
44732                                             NaN
54343                                             NaN
38158                                             NaN
860                                               NaN
15795                                             NaN

       Percentage of Prevalence (Eating disorders(F))
9427                                              NaN
40596                                             NaN
39496                                             NaN
54565                                             NaN
39266                                             NaN
...                                               ...
44732                                             NaN
54343                                             NaN
38158                                             NaN
860                                               NaN
15795                                             NaN

[45115 rows x 2 columns]
y_test:        Percentage of Prevalence (Eating disorders(M))  \
23059                                        0.202272
9869                                              NaN
41845                                        0.124807
15727                                             NaN
31077                                             NaN
...                                               ...
28587                                             NaN
10527                                             NaN
42635                                             NaN
49880                                             NaN
19341                                             NaN

       Percentage of Prevalence (Eating disorders(F))
23059                                        0.331282
9869                                              NaN
41845                                        0.293153
15727                                             NaN
31077                                             NaN
...                                               ...
28587                                             NaN
10527                                             NaN
42635                                             NaN
49880                                             NaN
19341                                             NaN

[11279 rows x 2 columns]

In [26]:
print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

Shape of X_train: (45115, 320)
Shape of X_test: (11279, 320)
Shape of y_train: (45115, 2)
Shape of y_test: (11279, 2)

In [27]:
print("Summary statistics of X_train:")
print(X_train.describe())

print("\nSummary statistics of X_test:")
print(X_test.describe())

print("\nSummary statistics of y_train:")
print(y_train.describe())

print("\nSummary statistics of y_test:")
print(y_test.describe())

Summary statistics of X_train:
              index          Year  Population (historical estimates)  \
count  45115.000000  45115.000000                       4.454500e+04
mean   28199.121290   1611.050272                       3.251739e+07
std    16265.182914   1399.909403                       2.517726e+08
min        1.000000 -10000.000000                       1.000000e+00
25%    14135.500000   1832.000000                       1.333040e+05
50%    28183.000000   1901.000000                       1.209646e+06
75%    42304.500000   1966.000000                       5.394679e+06
max    56394.000000   2021.000000                       7.874966e+09

        Afghanistan        Africa  African Region (WHO)  \
count  45115.000000  45115.000000          45115.000000
mean       0.004633      0.004322              0.000598
std        0.067906      0.065603              0.024457
min        0.000000      0.000000              0.000000
25%        0.000000      0.000000              0.000000
50%        0.000000      0.000000              0.000000
75%        0.000000      0.000000              0.000000
max        1.000000      1.000000              1.000000

       Akrotiri and Dhekelia       Albania       Algeria  American Samoa  ...  \
count           45115.000000  45115.000000  45115.000000    45115.000000  ...
mean                0.000022      0.004588      0.004522        0.001995  ...
std                 0.004708      0.067582      0.067093        0.044620  ...
min                 0.000000      0.000000      0.000000        0.000000  ...
25%                 0.000000      0.000000      0.000000        0.000000  ...
50%                 0.000000      0.000000      0.000000        0.000000  ...
75%                 0.000000      0.000000      0.000000        0.000000  ...
max                 1.000000      1.000000      1.000000        1.000000  ...

       World Bank Upper Middle Income  Wuerttemburg         Yemen  \
count                    45115.000000  45115.000000  45115.000000
mean                         0.000510      0.000022      0.004344
std                          0.022573      0.004708      0.065770
min                          0.000000      0.000000      0.000000
25%                          0.000000      0.000000      0.000000
50%                          0.000000      0.000000      0.000000
75%                          0.000000      0.000000      0.000000
max                          1.000000      1.000000      1.000000

       Yemen Arab Republic  Yemen People's Republic    Yugoslavia  \
count              45115.0             45115.000000  45115.000000
mean                   0.0                 0.000022      0.000022
std                    0.0                 0.004708      0.004708
min                    0.0                 0.000000      0.000000
25%                    0.0                 0.000000      0.000000
50%                    0.0                 0.000000      0.000000
75%                    0.0                 0.000000      0.000000
max                    0.0                 1.000000      1.000000

             Zambia      Zanzibar      Zimbabwe  Åland Islands
count  45115.000000  45115.000000  45115.000000   45115.000000
mean       0.004455      0.000022      0.004522       0.000022
std        0.066600      0.004708      0.067093       0.004708
min        0.000000      0.000000      0.000000       0.000000
25%        0.000000      0.000000      0.000000       0.000000
50%        0.000000      0.000000      0.000000       0.000000
75%        0.000000      0.000000      0.000000       0.000000
max        1.000000      1.000000      1.000000       1.000000

[8 rows x 318 columns]

Summary statistics of X_test:
              index          Year  Population (historical estimates)  \
count  11279.000000  11279.000000                       1.111100e+04
mean   28191.014984   1601.431865                       3.224757e+07
std    16338.309041   1440.148776                       2.443322e+08
min        5.000000 -10000.000000                       1.000000e+00
25%    13949.500000   1833.000000                       1.359925e+05
50%    28258.000000   1903.000000                       1.258439e+06
75%    42261.500000   1968.000000                       5.407107e+06
max    56377.000000   2021.000000                       7.794799e+09

        Afghanistan        Africa  African Region (WHO)  \
count  11279.000000  11279.000000          11279.000000
mean       0.004433      0.005674              0.000266
std        0.066436      0.075117              0.016307
min        0.000000      0.000000              0.000000
25%        0.000000      0.000000              0.000000
50%        0.000000      0.000000              0.000000
75%        0.000000      0.000000              0.000000
max        1.000000      1.000000              1.000000

       Akrotiri and Dhekelia       Albania       Algeria  American Samoa  ...  \
count                11279.0  11279.000000  11279.000000    11279.000000  ...
mean                     0.0      0.004610      0.004876        0.002128  ...
std                      0.0      0.067746      0.069663        0.046082  ...
min                      0.0      0.000000      0.000000        0.000000  ...
25%                      0.0      0.000000      0.000000        0.000000  ...
50%                      0.0      0.000000      0.000000        0.000000  ...
75%                      0.0      0.000000      0.000000        0.000000  ...
max                      0.0      1.000000      1.000000        1.000000  ...

       World Bank Upper Middle Income  Wuerttemburg         Yemen  \
count                    11279.000000       11279.0  11279.000000
mean                         0.000621           0.0      0.005586
std                          0.024906           0.0      0.074531
min                          0.000000           0.0      0.000000
25%                          0.000000           0.0      0.000000
50%                          0.000000           0.0      0.000000
75%                          0.000000           0.0      0.000000
max                          1.000000           0.0      1.000000

       Yemen Arab Republic  Yemen People's Republic  Yugoslavia        Zambia  \
count         11279.000000                  11279.0     11279.0  11279.000000
mean              0.000089                      0.0         0.0      0.005142
std               0.009416                      0.0         0.0      0.071528
min               0.000000                      0.0         0.0      0.000000
25%               0.000000                      0.0         0.0      0.000000
50%               0.000000                      0.0         0.0      0.000000
75%               0.000000                      0.0         0.0      0.000000
max               1.000000                      0.0         0.0      1.000000

       Zanzibar      Zimbabwe  Åland Islands
count   11279.0  11279.000000        11279.0
mean        0.0      0.004876            0.0
std         0.0      0.069663            0.0
min         0.0      0.000000            0.0
25%         0.0      0.000000            0.0
50%         0.0      0.000000            0.0
75%         0.0      0.000000            0.0
max         0.0      1.000000            0.0

[8 rows x 318 columns]

Summary statistics of y_train:
       Percentage of Prevalence (Eating disorders(M))  \
count                                     5459.000000
mean                                         0.129776
std                                          0.076498
min                                          0.033909
25%                                          0.074309
50%                                          0.106524
75%                                          0.163106
max                                          0.741662

       Percentage of Prevalence (Eating disorders(F))
count                                     5459.000000
mean                                         0.289998
std                                          0.228635
min                                          0.057407
25%                                          0.125244
50%                                          0.199117
75%                                          0.382491
max                                          1.492229

Summary statistics of y_test:
       Percentage of Prevalence (Eating disorders(M))  \
count                                     1381.000000
mean                                         0.131855
std                                          0.081545
min                                          0.033899
25%                                          0.073584
50%                                          0.105101
75%                                          0.173867
max                                          0.753026

       Percentage of Prevalence (Eating disorders(F))
count                                     1381.000000
mean                                         0.295986
std                                          0.237022
min                                          0.057608
25%                                          0.123574
50%                                          0.198434
75%                                          0.412087
max                                          1.512301

##### Now that all has been done and printed I move on to the modeling step.